*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

section{
    min-height: 100vh;
    background-image:url(images/depositphotos_644028186-stock-illustration-modern-abstract-light-blue-gradient.jpg) ;
    background-repeat: no-repeat;
    background-size: cover;
}

.container{
    width: 85%;
    margin: auto;
}
h1{
      min-height: 100%;
    margin: auto;
    text-align: center;
    font-size: 200px;
    padding-top: 15%;
    text-shadow:rgb(99, 99, 96) 7px 5px 6px;

}

h3{
    width: 50%;
    margin: auto;
    text-align: center;
    font-size: 50px;
    padding-top: 5%;
    text-shadow:rgb(99, 99, 96) 7px 5px 6px;


}
